<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<section class="banner">
   <div>
       <h1>This is my home page</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae blanditiis ea et excepturi inventore ipsum non porro quos sit!</p>
       <button>Get Started</button>
   </div>
</section>


</body>
</html>